.chatbot-outer {
  position: fixed;
  bottom: 100px;
  right: 20px;
}
.chatbox-container {
  border: 1px solid rgb(191, 201, 218);
  width: 350px;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.chatbox-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
  background: #0288d1;
}
.chatbox-container .header .left-header {
  display: flex;
  align-items: center;
}
.chatbox-container .header .left-header .stack-logo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  background: #fff;
}
.chatbox-container .header .left-header img {
  width: 50%;
}
.chatbox-container .header span {
  font-weight: 500;
  font-size: 0.9rem;
  color: #fff;
}
.chatbox-container .header button {
  font-size: 1.2rem;
  border: none;
  padding: 0 0.1rem;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatbox-container .chats-box {
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.chatbox-container .chats-box::-webkit-scrollbar {
  width: 5px;
}
.chatbox-container .chats-box::-webkit-scrollbar-thumb {
  background: rgb(217, 221, 231);
  border-radius: 50px;
}
.chatbox-container .chats-box div {
  background: #f5f8fa;
  padding: 10px 18px;
  border-radius: 20px;
  margin: 5px 0px;
  width: fit-content;
  max-width: 70%;
  flex-wrap: wrap;
}
.chatbox-container .chats-box div span {
  font-size: 13.5px;
  color: #30373a;
  line-height: 135%;
  font-weight: 400;
  font-family: "Roboto";
  padding: 0;
  line-height: 120%;
}
.chatbox-container .chats-box .user {
  align-self: flex-end;
  border: 1px solid #2d6bb7;
  background: transparent;
}
.chatbox-container .chats-box .user span {
  color: #2d6bb7;
}
.chatbox-container .chats-box .typing {
  font-size: 0.8rem;
  padding: 5px 10px;
  animation: blinking 2s ease-in infinite;
}
@keyframes blinking {
  0% {
    opacity: 0.4;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 1;
  }
}

.chatbox-container .footer {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
}
.chatbox-container .footer input {
  flex: 1;
  border: none;
  outline: none;
  height: 100%;
  padding: 0 15px;
}
.chatbox-container .footer button {
  background: #0288d1;
  color: #fff;
  height: 100%;
  border: none;
  padding: 0.8rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .chatbox-container {
    border: 1px solid rgb(191, 201, 218);
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #fff;
  }
}
