.home-container-1{
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

.home-container-2{
    max-width: 1506px;
    width: calc(100% - 200px);
    border: 1px solid #d6d9dc;
    padding: 24px;
    box-sizing: border-box;
}

.home-container-1 .chatbot-button {
    position: fixed;
    bottom: 30px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #0080ff;
    padding: 1rem;
    box-shadow: 0 0 15px -5px #ccc;
    border: 1px solid #ddd;
}
.home-container-1 .chatbot-button .comment-button {
    color: #fff;
    font-size: 1.5em;
}

@media screen and (max-width: 400px) {
    .home-container-2{
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    
}

@media screen and (max-width: 980px) {
    .home-container-2{
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}