.home-container-1{
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

.home-container-2{
    max-width: 1506px;
    width: calc(100% - 200px);
    border: 1px solid #d6d9dc;
    padding: 24px;
    box-sizing: border-box;
}

@media screen and (max-width: 400px) {
    .home-container-2{
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    
}

@media screen and (max-width: 980px) {
    .home-container-2{
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}