.left-sidebar{
    width: 200px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    transform: translateZ(0);
    box-sizing: border-box;
    font-size: 13px;
}

.side-nav{
    position: sticky;
    height: auto;
    max-width: 100%;
    margin: 50px 0;
    padding: 20px 0;
}

.side-nav-div{
    padding: 10px 0;
}

.side-nav-div div{
    padding-left: 10px;
}

.side-nav-links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #3a3a3a;
    padding-left: 10px;
    text-decoration: none;
    transition: 0.2s;
}

.side-nav-links:hover{
    color: black;
}

.active{
    font-weight: bolder;
    color: black;
    background-color: rgb(225, 225, 225);
    border-right: 3px solid #ef8236;
}

@media screen and (max-width: 500px) {
    .left-sidebar{
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .left-sidebar{
        width: 200px;
    }
}