.ques-details-page{
    width: calc(100% - 300px - 24px);
    float: left;
    margin: 25px 0;
    padding: 0;
}

.ques-details-container{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.112);
}

.ques-details-container-2{
    display: flex;
}

.ques-votes{
    padding: 5px 20px 5px 10px;
}

.ques-votes p{
    margin: 0;
    font-size: 25px;
    text-align: center;
}

.votes-icon{
    font-size: 40px;
    cursor: pointer;
    color: rgb(206, 203, 203);
}

.votes-icon:active{
    color: #ef8236;
}

.ques-details-container .ques-body{
    line-height: 22px;
    white-space: pre-line;
}

.ques-details-container .ques-details-tags{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ques-details-container .ques-details-tags p,
.post-ans-container p .ans-tag{
    padding: 5px 5px;
    margin: 3px;
    font-size: 13px;
    border-radius: 2px;
    background-color: #e1ecf4;
    color: #39739d;
    text-decoration: none;   
}

.ques-action-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ques-action-user .edit-ques-btn{
    background-color: transparent;
    border: none;
    padding: 5px 0;
    margin: 0 10px 0 0;
    text-decoration: none;
    color: #939292;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.ques-action-user .edit-ques-btn:active{
    border-bottom: 2px solid black;
}

.ques-action-user div:nth-child(2) p{
    text-decoration: underline dotted;
    margin: 0;
    font-size: 11px;
}

.user-link{
    display: flex;
    align-items: center;
}

.user-link div{
    padding-left: 10px;
}

.post-ans-container form textarea{
    padding: 10px;
    width: calc(100% - 20px);
    resize: vertical;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
}

.post-ans-container form .post-ans-btn{
    margin: 20px 0;
    padding: 10px 10px;
    background-color: #009dff;
    color: white;
    border: 1px solid #009dff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s all;
}

.post-ans-container form .post-ans-btn:hover{
    background-color: #0086d8;
}

.display-ans{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.112);
}

.display-ans p{
    font-size: 14px;
    line-height: 18px;
    white-space: pre-line;
}

@media screen and (max-width: 1000px) {
    .ques-details-page{
        margin-top: 50px;
        width: 100%;
    }

    .post-ans-container p .ans-tag{
        font-size: 10px;
        padding: 2px 5px;
        font-weight: 500;
        margin: 5px;
    }
}